<app-header></app-header>
<app-navigation name="About US"></app-navigation>

<!-- hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-xl-5">
        <div class="hero-thumb">
          <div class="hero-thumb-01"></div>
          <div class="hero-thumb-02">
            <img src="assets/about us - hero thumb.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-xl-6 mx-lg-2">
        <div class="hero-content">
          <h3>Know About Our Ecommerce <br class="d-none d-xl-block"> Business, History</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Mattis neque ultrices mattis aliquam, malesuada diam est.
            Malesuada sem tristique amet erat vitae eget dolor lobortis.
            Accumsan faucibus vitae lobortis quis bibendum quam.</p>
          <button class="btn btn-contact" routerLink="/contact">Contact us</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- our feature -->
<section class="our-feature pt-5">
  <div class="container">
    <h2 class="section-title text-center">Our Features</h2>
    <div class="row shopex-offer">
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="offer-content justify-content-center d-flex flex-column text-center">
          <div class="offer-thumb">
            <img src="assets/free-delivery 1.png" alt="">
          </div>
          <h4 class="offer-title">24/7 Support</h4>
          <p class="offer-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <br class="d-none d-xl-block">Massa purus gravida.
          </p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="offer-content justify-content-center d-flex flex-column text-center">
          <div class="offer-thumb">
            <img src="assets/cashback 1.png" alt="">
          </div>
          <h4 class="offer-title">24/7 Support</h4>
          <p class="offer-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <br class="d-none d-xl-block">Massa purus gravida.
          </p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="offer-content justify-content-center d-flex flex-column text-center">
          <div class="offer-thumb">
            <img src="assets/premium-quality 1.png" alt="">
          </div>
          <h4 class="offer-title">24/7 Support</h4>
          <p class="offer-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <br class="d-none d-xl-block">Massa purus gravida.
          </p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="offer-content justify-content-center d-flex flex-column text-center">
          <div class="offer-thumb">
            <img src="assets/24-hours-support 1.png" alt="">
          </div>
          <h4 class="offer-title">24/7 Support</h4>
          <p class="offer-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <br class="d-none d-xl-block">Massa purus gravida.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- client feedback -->
<section class="client-feedback">
  <div class="container">
    <h2 class="section-title text-center">Our Client Say!</h2>

    <div class="feedback-list">
      <div class="slider slider-nav d-flex justify-content-center">
        <div class="client-img"><img src="assets/client03.png" alt=""></div>
        <div class="client-img"><img src="assets/client01.png" alt=""></div>
        <div class="client-img"><img src="assets/client02.png" alt=""></div>
      </div>
      <div class="slider slider-for text-center">
        <div>
          <h4>Justin</h4>
          <p class="client-work">Ceo At Webecy Digital</p>
          <p class="feedback">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non duis ultrices quam vel
            dui sollicitudin<br class="d-none d-xl-block"> aliquet id arcu. Nam vitae a enim nunc, sed sapien egestas ac
            nam.
            Tristique ultrices dolor<br class="d-none d-xl-block"> aliquam lacus volutpat praesent.</p>
        </div>
        <div>
          <h4>Selena Gomez</h4>
          <p class="client-work">Ceo At Webecy Digital</p>
          <p class="feedback">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non duis ultrices quam vel
            dui sollicitudin<br class="d-none d-xl-block"> aliquet id arcu. Nam vitae a enim nunc, sed sapien egestas ac
            nam.
            Tristique ultrices dolor<br class="d-none d-xl-block"> aliquam lacus volutpat praesent.</p>
        </div>
        <div>
          <h4>Timber</h4>
          <p class="client-work">Ceo At Webecy Digital</p>
          <p class="feedback">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non duis ultrices quam vel
            dui sollicitudin<br class="d-none d-xl-block"> aliquet id arcu. Nam vitae a enim nunc, sed sapien egestas ac
            nam.
            Tristique ultrices dolor<br class="d-none d-xl-block"> aliquam lacus volutpat praesent.</p>
        </div>

      </div>

    </div>

  </div>
</section>

<div class="text-bg-light">
  <app-footer></app-footer>
</div>