<nav class="bg-primary border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item">
                <a class="nav-link link-dark px-2 text-white">
                    <i class="fa-regular fa-envelope"></i> yourname@nttdata.com
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link link-dark px-2 text-white">
                    <i class="fa-solid fa-phone"></i>
                    +212611110000
                </a>
            </li>
        </ul>
        <ng-container *ngIf="!isLogged" >
            <ul class="nav">
                <li class="nav-item">
                    <a routerLink="/login" class="nav-link link-dark px-2 text-white">
                        <i class="fa-regular fa-user"></i>
                        Login
                    </a>
                </li>
            </ul>
        </ng-container>
        <ng-container *ngIf="isLogged" >
            <ul class="nav">
                <li class="nav-item">
                    <a routerLink="/shoppingcart" class="nav-link link-dark px-2 text-white">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item">
                    <div class="nav-link link-dark px-2 text-white">
                        <i class="fa-regular fa-user"></i>
                        Hi {{ user?.username }}
                    </div>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item">
                    <div class="nav-link link-dark px-2 text-white">
                        <a (click)="signOutAction()">signout</a>
                    </div>
                </li>
            </ul>
        </ng-container>
    </div>
</nav>
<header class="p-1">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="assets/logo.png" height="12" width="80" />
            </a>

            <ul class="nav px-2 col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="/" routerLinkActive="active" class="nav-link px-2 text-dark">Home</a></li>
                <li><a routerLink="/shopgriddefault" routerLinkActive="active" class="nav-link px-2 text-dark">ShopGridDefault</a></li>
                <li><a routerLink="/shopsidebardefault" routerLinkActive="active" class="nav-link px-2 text-dark">ShopSideBarDefault</a></li>
                <li><a routerLink="/faq" routerLinkActive="active" class="nav-link px-2 text-dark ">FAQs</a></li>
                <li><a routerLink="/contact" routerLinkActive="active" class="nav-link px-2 text-dark ">Contact</a></li>
                <li><a routerLink="/aboutus" routerLinkActive="active" class="nav-link px-2 text-dark ">About</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-1" role="search">
                <input type="search" class="form-control form-control-dark text-bg-light" placeholder="Search..."
                    aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-success me-2">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
    </div>
</header>