<app-header></app-header>
<app-navigation name="Order Completed"></app-navigation>

<section class="order__completed">
    <div class="container">
        <div class="row ">
            <img class="bg_img_clock" src="assets/clock 1.png" alt="">
            <div class="col-12 d-flex flex-column justify-content-center">
                <div class="img__check d-flex justify-content-center">
                    <img class="img__check__01" src="assets/Vector 16.png" alt="">
                    <span class="circle"></span>
                    <img class="img__check__02" src="assets/Vector 15.png" alt="">
                </div>
                <div class="content d-flex flex-column text-center justify-content-center">
                    <h2>You Order Is Completed!</h2>
                    <p>Thank you for your order! Your order is being processed and will be completed within 3-6
                        <br class="d-none d-xl-block">hours. You will receive an email confirmation when your order is completed.
                        </p>
                    <a routerLink="/shopgriddefault">Continue Shopping</a>
                </div>
            </div>
            <img class="bg_img_checklist" src="assets/checklist 1.png" alt="">
        </div>
    </div>
</section>

<div class="text-bg-light">
    <app-footer></app-footer>
</div>