<app-header></app-header>
<app-navigation name="404 Page Not Found"></app-navigation>

<div class="container py-5 w-50 justify-content-center">
    <h3 class="nav justify-content-center">
        Oops! The Page you requested was not found!
    </h3>
    <img class="container" src="assets/404.png" height="500" width="500" />
    <div class="container">
        <div class="col-md-12 text-center">
            <button class="btn btn-success text-center">Back To Home</button>
        </div>
    </div>
</div>

<div class="text-bg-light">
  <app-footer></app-footer>
</div>