<app-header></app-header>
<app-navigation name="FAQs"></app-navigation>

<div class="faq-container">
  <div class="container">
      <div class="faq">
          <h2 class="blue-text">General Information</h2>
          <div>
              <h3 class="blue-text">Eu dictumst cum at sed euismood condimentum?</h3>
              <p class="grey-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus reiciendis facere sunt nemo optio sint at culpa fugiat id nam?</p>
          </div>
          <div>
              <h3 class="blue-text">Eu dictumst cum at sed euismood condimentum?</h3>
              <p class="grey-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus reiciendis facere sunt nemo optio sint at culpa fugiat id nam?</p>
          </div>
          <div>
              <h3 class="blue-text">Eu dictumst cum at sed euismood condimentum?</h3>
              <p class="grey-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus reiciendis facere sunt nemo optio sint at culpa fugiat id nam?</p>
          </div>
          <div>
              <h3 class="blue-text">Eu dictumst cum at sed euismood condimentum?</h3>
              <p class="grey-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus reiciendis facere sunt nemo optio sint at culpa fugiat id nam?</p>
          </div>
      </div>

      <div class="ask-question-form">
          <h2 class="blue-text">Ask a Question</h2>
          <input type="text" placeholder="Your Name*">
          <input type="text" placeholder="Subject*">
          <textarea cols="30" rows="10">Type your Message*</textarea>
          <button class="btn btn-secondary">Send Mail</button>
      </div>
  </div>
</div>

<div class="text-bg-light">
  <app-footer></app-footer>
</div>